@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


/* Navigation */
header .nav-bar-container {
    padding: 0px 20px;
    margin-top: 20px;
}

header .nav-bar {
    font-size: 18px;
    font-family: 'Montserrat', Times, serif;
    text-decoration: none;
    display: flex;
    align-items: center;
    
}

header .logo-container {
    margin-right: auto;
    padding: 20px;
}

header .logo-link {
    text-decoration: none;
    color: inherit;
}

header .nav-bar-nav-links-container {
    margin-left: auto;
}

header .nav-link {
    font-weight: bold;
    padding: 8px 15px;
    text-decoration: none;
    color: #000000;
    border-radius: 10px;
    margin: 20px;

    transition: color 0.3s ease, border-color 0.3s ease, background-color 0.3s ease;
}

header .nav-link:hover{
    background-color: #0087ff; 
    color: #ffffff;
}

header .nav-link-active {
    font-weight: bold;
    text-decoration: none;
    background-color: #0087ff; 
    color: #ffffff;
    padding: 8px 15px;
    border-radius: 10px;
    margin: 20px;
}

header .logo-image {
    width: 100px; 
    height: 100px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

header .logo-image:hover {
    transform: scale(1.1);
}

header .nav-bar-button {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: #0087ff;
    visibility: hidden;
    opacity: 0;
    font-size: 30px;
}

@media only screen and (max-width: 1024px) {
    header .nav-bar-button {
        visibility: visible;
        opacity: 1;
    }

    header .nav-bar-button:hover {
        border: none;
        background-color: transparent;
        color: #0087ff;
    }

    header .logo-container {
        margin-right: 0;
    }

    header .nav-bar-nav-links-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 22px;
        margin-left: 0;
    }

    header .nav-bar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-items: center;
        justify-content: center;
        gap: 22px;
        background-color: #f4f4f4;
        transition: 1s;
        transform: translateY(-100vh);
    }

    header .responsive_navbar {
        transform: none;
    }

    header .close-button {
        position: absolute;
        top: 24px;
        right: 24px;
    }

    header .nav-link {
        margin: 0;
    }
}


