@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


/* Navigation */
.nav-bar {
    padding: 20px;
    text-align: center;
    font-size: 17px;
    font-family: 'Montserrat', Times, serif;
    text-decoration: none;
}
.nav-link {
    text-decoration: none;
    background-color: #f2f2f2;
    padding: 15px;
    border-radius: 30px;
    margin: 20px;
    transition: all 0.2s linear;
}
.nav-link:hover{
    background-color: #cfcfcf;
}

.nav-link-active {
    text-decoration: none;
    background-color: #1fb4ff;
    padding: 15px;
    border-radius: 30px;
    margin: 20px;
}